:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-white-color: #ffffff;
  --primary-accent-color: #2e2f42;
  --secondary-accent-color: #f4f4fd;
  --primary-text-color: #434455;
  --secondary-text-color: #4d5ae5;
  --hoover-text-color: #404bbf;
  --border-color: #e7e9fc;
}

* {
  margin: 0;
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

h1 {
  font-size: 56px;
  line-height: 60px;
  color: var(--primary-white-color);
  margin: 0 auto 48px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 72px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}

.container {
  margin: 0 auto;
}

footer,
.main-section {
  background-color: var(--primary-accent-color);
}

.our-team {
  background-color: var(--secondary-accent-color);
}

.header-menu a {
  color: var(--primary-accent-color);
  font-weight: 500;
  text-transform: capitalize;
}

.header-menu a:hover {
  color: var(--hoover-text-color);
}

.logo {
  text-transform: uppercase;
  color: var(--secondary-text-color);
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 21px;
  margin-right: 76px;
}

header .logo span {
  color: var(--primary-accent-color);
}

footer .logo span {
  color: var(--secondary-accent-color);
}

.contacts a {
  color: var(--primary-accent-color);
}

.contacts a:hover {
  color: var(--hoover-text-color);
}

.main-section {
  text-align: center;
}

.order-btn {
  border: none;
  background-color: var(--secondary-text-color);
  color: var(--primary-white-color);
  cursor: pointer;
}

.order-btn:hover {
  background-color: var(--hoover-text-color);
}

.team-section {
  background-color: var(--secondary-accent-color);
}

.team-item {
  background-color: var(--primary-white-color);
}

.team-item-description {
  text-align: center;
}

.portfolio-item {
  border: 1px solid var(--border-color);
}

footer .logo {
  margin-bottom: 16px;
}

.footer-text {
  color: var(--secondary-accent-color);
}
